<!DOCTYPE html>
<html>
  <%- include('../partials/header', {title: 'Forms Assignment'}); %>
  <body>
    <% include ../partials/navbar %>

    <div class="container">
      <h1>Birds</h1>
      <a href="/birds/create" class="btn btn-primary">+ Create</a>
    </div>

    <% include ../partials/scripts %>
  </body>
</html>
