<!DOCTYPE html>
<html>
  <%- include('../partials/header', {title: 'Forms Assignment'}); %>
  <body>
    <% include ../partials/navbar %>

    <div class="container">
      <h1>You Created a Bird!</h1>
      <h3>Thanks for creating a new bird!</h3>
      <a href="/birds" class="btn btn-primary"
        >Navigate back to Main Birds Page</a
      >
    </div>

    <% include ../partials/scripts %>
  </body>
</html>
